BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -2
PointerAlignment: Left
BreakBeforeBraces: Attach
IndentCaseLabels: false
ColumnLimit: 100
SpaceBeforeTemplateClose: false
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveDeclarations: false
SortIncludes: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 10000
